@page
@model NorthernProducts.Pages.Brands.IndexModel

@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>

<p>
    <br />
    <a asp-page="Create" class="btn btn-outline-success btn-sm">
        <i class="far fa-plus-square"></i>
        Add Brand
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand[0].BrandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brand) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BrandId" class="btn btn-outline-warning btn-sm">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.BrandId" class="btn btn-outline-secondary btn-sm">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.BrandId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
